.landing-container {
  padding-top: 60px;
  // outline: 1px solid black;
  // min-height: 2000px;
}
.bg-for-landing {
  background: rgba(194, 221, 228, 1);
  min-height: 2000px;
}

// .cool-button {
//   display: inline-block;
//   border: 2px solid darkgreen;
//   background-color: lightgreen;
//   margin: 0.5em;
//   padding: 0.1em;
// }
.header-container {
  display: flex;
  align-items: center;
}
.landing-logo-div {
  margin: 0 auto;
}
// .main-landing-container {
//   position: relative;
// }
.menu-btn-landing {
  width: 50px;
  height: 50px;
  border-style: none;
  display: flex;
  background: transparent;
}

.menu-btn-landing > svg {
  fill: rgba(0, 58, 68, 1);
}
.menu-btn-landing:active > svg {
  fill: rgba(196, 196, 196, 1);
}
.cool-button {
  margin-left: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  font-weight: 100;
  font-size: 33px;
  line-height: 1.484;

  color: #000000;
  width: 200px;
  height: 60px;
  background: #66a4ac;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.cool-button:active {
  background: rgba(194, 221, 228, 1);
}

.header-logo-ladning {
  display: flex;
  text-align: center;
  margin-bottom: 6px;
  align-items: center;
  justify-content: center;

  width: 204px;
  height: 204px;
  background: #06565b;
  border-radius: 50%;

  font-weight: 100;
  font-size: 114px;
  line-height: 1.356;

  color: #ffffff;

  // position: absolute;
}
.landing-logo-messaging {
  // position: relative;
  display: block;
  font-family: Nothing You Could Do;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 1.334;
  color: #000000;
  transform-origin: top left;
  transform: rotate(-19deg);
  margin-left: 40px;
}
.benefit-item {
  position: relative;
  width: 362px;
  height: 144px;
  background: rgba(61, 174, 222, 0.29);
  border-radius: 5px;

  font-family: Nothing You Could Do;
  font-style: normal;
  font-weight: 400;
  // font-size: 42px;
  font-size: 28px;
  line-height: 1.333;
  color: #000000;
  box-sizing: border-box;
  padding-left: 20px;
}
.benefits-list {
  margin-top: 100px;
  padding: 0 203px 100px 203px;
}
.benefit-item:not(:last-child) {
  margin-bottom: 100px;
}
.benefit-item:nth-child(odd) {
  margin-left: auto;
}
.benefit-item > svg {
  position: absolute;
}
.benefit-item:nth-child(odd) > svg {
  right: 100%;
  margin-right: 40px;
  margin-top: 32px;
}
.benefit-item:nth-child(even) > svg {
  left: 100%;
  margin-left: 40px;
  margin-top: 32px;
}
