.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.day-night-btn {
  display: block;
  position: absolute;
  width: 80px;
  height: 40px;
  background: rgba(39, 68, 84, 0.51);
  border-radius: 20px;
  border-style: 1px solid black;
  left: 452px;
}
.day-night-btn:active {
  background: rgba(115, 157, 157, 0.45);
  border-style: 1px solid black;
}
// .landing-logo-div {
//   margin: 0 auto;
// }

.header-logo {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.254;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;

  display: flex;
  text-align: center;
  margin-bottom: 6px;
  align-items: center;
  justify-content: center;

  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-color: #f9f9f9;
}
.header-input {
  width: 466px;
  height: 40px;
  outline: transparent;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;

  margin-left: 510px;
  padding: 0 20px;
}
.menu-btn {
  width: 50px;
  height: 50px;
  margin-left: 64px;
  border-style: none;
  background: transparent;
}

.menu-btn > svg {
  fill: #c4c4c4;
}
.menu-btn:active > svg {
  fill: #424d54;
}
